In [9]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import *
spark = SparkSession.builder.appName('Demo2').getOrCreate()

Now, I'm going to read the datasets that I'm considering, i.e. "litecoin price" and "ethereum price".

In [2]:
#header specifies each column and inferschema is used to automatically detect data types.
lp = spark.read.csv('Dataset_main/litecoin_price (1).csv',header=True,inferSchema=True)
ep = spark.read.csv('Dataset_main/ethereum_classic_price 1.csv',header=True,inferSchema=True)

After importing the datasets, I will now view the data.

In [4]:
#Visualizing dataset in tabular format.
lp.show()
ep.show()

+------------+------+------+------+------+--------------+---------------+
|        Date|  Open|  High|   Low| Close|        Volume|     Market Cap|
+------------+------+------+------+------+--------------+---------------+
|Feb 20, 2018|223.09| 253.9|222.51|232.85|1,73,96,70,000|12,33,51,00,000|
|Feb 19, 2018|215.41|226.97|215.38|223.06|  76,75,97,000|11,90,79,00,000|
|Feb 18, 2018|230.51|232.64|214.46|215.74|1,01,11,20,000|12,73,88,00,000|
|Feb 17, 2018| 229.5|233.45| 225.6|229.47|  86,34,01,000|12,67,97,00,000|
|Feb 16, 2018| 225.5|236.09|212.33|230.12|1,30,00,90,000|12,45,53,00,000|
|Feb 15, 2018|212.35|237.88|211.17|225.43|2,08,72,90,000|11,72,57,00,000|
|Feb 14, 2018|159.58|218.23|159.58|213.36|2,38,33,40,000| 8,80,95,90,000|
|Feb 13, 2018|161.78|162.37|153.51|159.55|  48,34,68,000| 8,92,83,60,000|
|Feb 12, 2018| 150.1|163.35| 150.1|161.57|  53,57,10,000| 8,28,20,50,000|
|Feb 11, 2018|155.39|155.73|142.61|148.99|  49,57,20,000| 8,57,15,30,000|
|Feb 10, 2018|163.49|169.33|149.14|155.59|  57,63,28,000| 9,01,58,90,000|
|Feb 09, 2018|149.73|163.98|142.59|163.95|  72,22,05,000| 8,25,49,80,000|
|Feb 08, 2018|138.34|151.08|138.34|149.47|  86,92,07,000| 7,62,46,30,000|
|Feb 07, 2018|142.48| 157.9|131.52| 138.2|  81,78,08,000| 7,85,11,00,000|
|Feb 06, 2018|127.52|146.11|106.94|142.99|1,14,84,10,000| 7,02,46,30,000|
|Feb 05, 2018|148.73|153.52|118.15|125.33|  84,46,78,000| 8,19,05,80,000|
|Feb 04, 2018|160.38| 173.8|139.69|148.03|1,00,60,80,000| 8,82,99,70,000|
|Feb 03, 2018| 131.4|165.56|121.17|160.25|  68,76,76,000| 7,23,24,10,000|
|Feb 02, 2018|142.56|142.56|105.35|131.38|  81,55,40,000| 7,84,47,10,000|
|Feb 01, 2018|163.68|165.81|131.55| 142.3|  53,98,80,000| 9,00,43,30,000|
+------------+------+------+------+------+--------------+---------------+
only showing top 20 rows

+------------+-----+-----+-----+-----+--------------+--------------+
|        Date| Open| High|  Low|Close|        Volume|    Market Cap|
+------------+-----+-----+-----+-----+--------------+--------------+
|Feb 20, 2018|39.41|43.96|38.23|38.47|1,17,58,90,000|3,94,00,10,000|
|Feb 19, 2018|34.69|40.26|33.93|39.29|  99,22,56,000|3,46,78,60,000|
|Feb 18, 2018|35.01|35.08|31.52|34.88|  45,68,29,000|3,49,83,90,000|
|Feb 17, 2018|34.97| 35.4|34.38|34.99|  41,85,34,000|3,49,36,50,000|
|Feb 16, 2018|34.43|35.34| 32.9|35.03|  45,67,54,000|3,43,91,80,000|
|Feb 15, 2018|34.83|35.65|32.83|34.53|  63,52,28,000|3,47,79,70,000|
|Feb 14, 2018|34.32|36.44| 33.4|35.04|1,05,53,40,000|3,42,68,60,000|
|Feb 13, 2018|29.88|34.73|28.32|33.96|1,13,59,50,000|2,98,27,30,000|
|Feb 12, 2018|24.31|30.33|24.31|29.88|  54,17,66,000|2,42,58,00,000|
|Feb 11, 2018|24.53| 26.0|21.42|24.13|  37,81,89,000|2,44,74,00,000|
|Feb 10, 2018|25.95|26.65|23.08|24.52|  25,61,81,000|2,58,86,40,000|
|Feb 09, 2018|21.89|26.21| 21.0| 26.0|  39,30,49,000|2,18,25,30,000|
|Feb 08, 2018|18.15|21.96|18.15|21.79|  26,51,55,000|1,80,93,00,000|
|Feb 07, 2018|19.18|20.45|17.45|18.16|  21,29,87,000|1,91,20,10,000|
|Feb 06, 2018|16.75|19.42|14.06|19.39|  31,82,12,000|1,66,95,30,000|
|Feb 05, 2018|20.76|21.19|15.89|16.53|  17,15,00,000|2,06,83,30,000|
|Feb 04, 2018|24.19|24.73|19.91|21.04|  21,83,48,000|2,40,92,10,000|
|Feb 03, 2018|23.15|24.74|20.76| 24.2|  17,90,81,000|2,30,54,70,000|
|Feb 02, 2018|24.95|24.95|18.37|23.07|  34,00,95,000|2,48,41,90,000|
|Feb 01, 2018|28.77|28.88|23.74|24.97|  25,12,54,000|2,86,37,80,000|
+------------+-----+-----+-----+-----+--------------+--------------+
only showing top 20 rows

In [5]:
#Visualizing data structure at high level
lp.printSchema()
ep.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Market Cap: string (nullable = true)

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Market Cap: string (nullable = true)

In [6]:
#Printing specific amount of rows to get a clear view of the dataset.
print(lp.head(1))
print(ep.head(1))

[Row(Date='Feb 20, 2018', Open=223.09, High=253.9, Low=222.51, Close=232.85, Volume='1,73,96,70,000', Market Cap='12,33,51,00,000')]
[Row(Date='Feb 20, 2018', Open=39.41, High=43.96, Low=38.23, Close=38.47, Volume='1,17,58,90,000', Market Cap='3,94,00,10,000')]

The above description shows only the first row of each of the datasets. If we want to view more than 1, we can change the head count.

In [10]:
#Alternate way of printing features of data.
print(lp.columns)
print(ep.columns)

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']
['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']

In [8]:
#Describing the data.
lp.describe().show()
ep.describe().show()

+-------+------------+------------------+-----------------+-----------------+------------------+-----------+--------------+
|summary|        Date|              Open|             High|              Low|             Close|     Volume|    Market Cap|
+-------+------------+------------------+-----------------+-----------------+------------------+-----------+--------------+
|  count|        1760|              1760|             1760|             1760|              1760|       1516|          1760|
|   mean|        null|20.380522727272762|21.55526136363641|19.16557954545455|20.496602272727326|       null|          null|
| stddev|        null|46.937995834277466| 50.1425657590246|43.54057576211996| 47.15935425968839|       null|          null|
|    min|Apr 01, 2014|              1.15|             1.34|             1.11|              1.16|1,00,53,700|1,03,97,20,000|
|    max|Sep 30, 2017|            359.13|           375.29|           335.68|            358.34|  99,30,590|  95,33,97,000|
+-------+------------+------------------+-----------------+-----------------+------------------+-----------+--------------+

+-------+------------+------------------+-----------------+-----------------+-----------------+-----------+--------------+
|summary|        Date|              Open|             High|              Low|            Close|     Volume|    Market Cap|
+-------+------------+------------------+-----------------+-----------------+-----------------+-----------+--------------+
|  count|        1761|              1761|             1761|             1761|             1761|       1517|          1760|
|   mean|        null|7.4583363719477545|7.867908806360018|7.044287735945492|7.477006630891537|       null|          null|
| stddev|        null| 8.426770726753162| 9.09130871892865|7.740564729267633|8.452638640291166|       null|          null|
|    min|Apr 01, 2014|          0.604737|         0.766068|         0.452446|         0.602402|1,00,53,700|1,00,74,30,000|
|    max|Sep 30, 2017|             44.53|            53.15|            40.85|            44.73|  99,30,590|  99,75,82,000|
+-------+------------+------------------+-----------------+-----------------+-----------------+-----------+--------------+

The table above represents the summary of each of the dataset. The first table represents description for "litecoin price" and the second table represents the same for "ethereum price". The count for "volume" column is less than the other column counts, thus, it inclines that there is a possibility of missing/null/blank values.

Importing Pandas for exploring data better.

In [11]:
import pandas as pd

In [13]:
#Visualising dataset using pandas.
pd.DataFrame(lp.take(20), columns=lp.columns)

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Feb 20, 2018",223.09,253.90,222.51,232.85,"1,73,96,70,000","12,33,51,00,000"
1,"Feb 19, 2018",215.41,226.97,215.38,223.06,"76,75,97,000","11,90,79,00,000"
2,"Feb 18, 2018",230.51,232.64,214.46,215.74,"1,01,11,20,000","12,73,88,00,000"
3,"Feb 17, 2018",229.50,233.45,225.60,229.47,"86,34,01,000","12,67,97,00,000"
4,"Feb 16, 2018",225.50,236.09,212.33,230.12,"1,30,00,90,000","12,45,53,00,000"
5,"Feb 15, 2018",212.35,237.88,211.17,225.43,"2,08,72,90,000","11,72,57,00,000"
6,"Feb 14, 2018",159.58,218.23,159.58,213.36,"2,38,33,40,000","8,80,95,90,000"
7,"Feb 13, 2018",161.78,162.37,153.51,159.55,"48,34,68,000","8,92,83,60,000"
8,"Feb 12, 2018",150.10,163.35,150.10,161.57,"53,57,10,000","8,28,20,50,000"
9,"Feb 11, 2018",155.39,155.73,142.61,148.99,"49,57,20,000","8,57,15,30,000"
10,"Feb 10, 2018",163.49,169.33,149.14,155.59,"57,63,28,000","9,01,58,90,000"
11,"Feb 09, 2018",149.73,163.98,142.59,163.95,"72,22,05,000","8,25,49,80,000"
12,"Feb 08, 2018",138.34,151.08,138.34,149.47,"86,92,07,000","7,62,46,30,000"
13,"Feb 07, 2018",142.48,157.90,131.52,138.20,"81,78,08,000","7,85,11,00,000"
14,"Feb 06, 2018",127.52,146.11,106.94,142.99,"1,14,84,10,000","7,02,46,30,000"
15,"Feb 05, 2018",148.73,153.52,118.15,125.33,"84,46,78,000","8,19,05,80,000"
16,"Feb 04, 2018",160.38,173.80,139.69,148.03,"1,00,60,80,000","8,82,99,70,000"
17,"Feb 03, 2018",131.40,165.56,121.17,160.25,"68,76,76,000","7,23,24,10,000"
18,"Feb 02, 2018",142.56,142.56,105.35,131.38,"81,55,40,000","7,84,47,10,000"
19,"Feb 01, 2018",163.68,165.81,131.55,142.30,"53,98,80,000","9,00,43,30,000"

In [14]:
#Visualising dataset using pandas.
pd.DataFrame(ep.take(20), columns=ep.columns)

            Date   Open   High    Low  Close          Volume      Market Cap
0   Feb 20, 2018  39.41  43.96  38.23  38.47  1,17,58,90,000  3,94,00,10,000
1   Feb 19, 2018  34.69  40.26  33.93  39.29    99,22,56,000  3,46,78,60,000
2   Feb 18, 2018  35.01  35.08  31.52  34.88    45,68,29,000  3,49,83,90,000
3   Feb 17, 2018  34.97  35.40  34.38  34.99    41,85,34,000  3,49,36,50,000
4   Feb 16, 2018  34.43  35.34  32.90  35.03    45,67,54,000  3,43,91,80,000
5   Feb 15, 2018  34.83  35.65  32.83  34.53    63,52,28,000  3,47,79,70,000
6   Feb 14, 2018  34.32  36.44  33.40  35.04  1,05,53,40,000  3,42,68,60,000
7   Feb 13, 2018  29.88  34.73  28.32  33.96  1,13,59,50,000  2,98,27,30,000
8   Feb 12, 2018  24.31  30.33  24.31  29.88    54,17,66,000  2,42,58,00,000
9   Feb 11, 2018  24.53  26.00  21.42  24.13    37,81,89,000  2,44,74,00,000
10  Feb 10, 2018  25.95  26.65  23.08  24.52    25,61,81,000  2,58,86,40,000
11  Feb 09, 2018  21.89  26.21  21.00  26.00    39,30,49,000  2,18,25,30,000
12  Feb 08, 2018  18.15  21.96  18.15  21.79    26,51,55,000  1,80,93,00,000
13  Feb 07, 2018  19.18  20.45  17.45  18.16    21,29,87,000  1,91,20,10,000
14  Feb 06, 2018  16.75  19.42  14.06  19.39    31,82,12,000  1,66,95,30,000
15  Feb 05, 2018  20.76  21.19  15.89  16.53    17,15,00,000  2,06,83,30,000
16  Feb 04, 2018  24.19  24.73  19.91  21.04    21,83,48,000  2,40,92,10,000
17  Feb 03, 2018  23.15  24.74  20.76  24.20    17,90,81,000  2,30,54,70,000
18  Feb 02, 2018  24.95  24.95  18.37  23.07    34,00,95,000  2,48,41,90,000
19  Feb 01, 2018  28.77  28.88  23.74  24.97    25,12,54,000  2,86,37,80,000

In [17]:
#Grouping the column 'High' to figure out how many data points it consists.
lp.groupby('High').count().toPandas()

       High  count
0     76.40      1
1      3.26      6
2      2.86      4
3     10.65      1
4     14.90      1
5     30.49      1
6     77.97      1
7      1.82      2
8      6.96      1
9     55.61      1
10    50.53      1
11     4.19      1
12     8.73      3
13     2.40      3
14    42.62      1
15    49.05      1
16    46.22      1
17     5.48      2
18     1.41      1
19     2.82      1
20    21.15      1
21     2.62      2
22    45.06      1
23     4.88      2
24    20.35      1
25    48.75      1
26    45.45      1
27    11.45      1
28     4.92      2
29     3.02      2
..      ...    ...
879   41.75      1
880   56.58      1
881   60.11      1
882   55.16      1
883   49.09      1
884   41.34      1
885    5.54      1
886   12.61      1
887   36.69      1
888   47.08      1
889   32.06      2
890    4.11      4
891    2.91      8
892    1.59      1
893   44.79      1
894   45.33      1
895    7.29      1
896    8.69      1
897   13.74      1
898  186.31      1
899   71.12      1
900   30.99      1
901   10.49      1
902   18.83      1
903    2.57      1
904    2.71      2
905   58.65      1
906    3.95     10
907    1.38      1
908   19.83      1

[909 rows x 2 columns]

In [18]:
#Summary statistics using pandas. Below line tries to find all columns having integer datatype
numeric_features = [t[0] for t in lp.dtypes if t[1] == 'int']

In [19]:
lp.select(numeric_features).describe().toPandas().transpose()

             0     1       2    3    4
summary  count  mean  stddev  min  max

In [23]:
numeric_data = lp.select(numeric_features).toPandas()
axs = pd.scatter_matrix(numeric_data, figsize=(3, 3));

n = len(numeric_data.columns)
for i in range(n):
    v = axs[i, 1]
    v.yaxis.label.set_rotation(1)
    v.yaxis.label.set_ha('right')
    v.set_yticks(())
    h = axs[n-2, i]
    h.xaxis.label.set_rotation(90)
    h.set_xticks(())

/home/ubuntu/.local/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: pandas.scatter_matrix is deprecated, use pandas.plotting.scatter_matrix instead

ValueError: num must be 1 <= num <= 0, not 1